/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/11/2015, 04:48:32 PM
    Author     : Jaime Aguilar (JAR)
*/
.headerTemplate{ 
    height:50px; 
}

.ui-widget,  .ui-widget .ui-widget {
    font-size: 12px;
 }

.ui-wizard, .ui-wizard-step-title{
    font-size: 12px;
}

.clockApp {
    font-size: 9px;
    padding: 0px 0px;
}


.ui-clock {
    padding: 0px 0px !important;
    font-weight: normal !important;
    font-size: 10px;
    border: hidden;
    background: none;
}

body {
    background-image: url("#{resource['images/boxed-bg.jpg']}");
}


.ui-growl{
    margin: 52px -20px 0px 0px;
}

.vertical-separator{
    border: 1px solid #77d5f7;
    margin: -2px 3px 0px 2px;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox{
    display: none;
}



