<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">

    <Appenders>
        <!-- 1. Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="(%d) - [%5p][%c{1}] - %m%n"/>
        </Console>

        <!-- 2. File Appender with file "${HOME_DOMAIN}/COTI_Log4j.log" -->
        <RollingFile name="RollingFile" fileName="AMSystem_bifaces.log"
                     filePattern="AMSystem_bifaces-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>(%d)-[%5p][%c{1}] - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="2 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.amsystem.bifaces" level="debug" additivity="false">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="ConsoleAppender"/>
        </Logger>

        <!-- Show SQL hibernate statement -->
        <!--
        <Logger name="org.hibernate" level="debug">
            <appender-ref ref="RollingFile"/>

        </Logger>

        <Logger name="org.hibernate.sql" level="debug">
            <appender-ref ref="RollingFile"/>

        </Logger>
        -->

        <!-- Show parameter hibernate-->
        <!--
        <Logger name="org.hibernate.type" level="TRACE">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="ConsoleAppender"/>
        </Logger>
        -->

        <Root level="TRACE" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>